

$bg-color: #f7f7f7;
$bd-color: #fcca46;
$ombre-color: #000;
.container{
    display: flex;
}
header{
    .enteteSite{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        border-bottom: solid 1px #fcca46;
        background-color: $bg-color;
        opacity: 0.8;
        
    }
    h1{
        color: #fcca46;
        font-size: 4rem;
        font-family: 'Vollkorn', serif;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 500ms;
        &:hover{
            transform: scale(1.15);
        }
    }
}

body{
    margin: 0;
    .recherche{
        display: flex;
        justify-content: center;
        height: 80px;
        .search-box{
            margin: auto;
            border: solid 1px;
            background-color: $bg-color;
            border-radius: 20px;
            max-height: 80px;
            .search-btn i{
                z-index: 1;
                background: $bd-color;
                font-size: 25px;
                color: $bg-color;
                padding: 15px;
                padding-right: 15px;
                border-radius: 30px;
                box-shadow: 0 0 25px 0 $bd-color;
                position: absolute;
                left:90px;
                top: 165px;
            }

        }
        button{
            height: 45px;
            width: 20px;
            border: none;
            outline: none;
            border-radius: 0px 20px 20px 0px;
            font-size: 1rem;
            background-color: $bg-color;
            cursor: pointer;
        }
        input{
            height: 60px;
            border: none;
            outline:none;
            border-radius: 20px 0px 0px 20px;
            font-size: 1.5rem;
            background-color: $bg-color;
            font-family: 'Vollkorn', serif;
            transition: all ease-in-out 0.4s;
            margin-left: 100px;
        }
    }
    .cartesContainer{
        height: 1950px;
            .cartes{
                display: flex;
                height: 1700px;
                width: 1400px;
                margin: auto;
                justify-content: center;
                flex-wrap: wrap;
                    .carteUne{
                        margin-top: 100px;
                        height: 700px;
                        width: 500px;
                        margin-right: 50px;
                        box-sizing: border-box;
                        text-decoration: none;
                        display: block;
                        transform: scale(1);
                        transition-property: transform;
                        transition-duration: 500ms;
                        box-shadow: 0 0 25px 0 $ombre-color;
                        &:hover{
                            transform: scale(1.15);
                            opacity: 0.5;
                        }
                        .carteUneContenu{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            height: 700px;
                            width: 500px;
                            p{
                                text-decoration: none;
                                color: darkslategrey;
                                font-size: 30px;
                            }
                            i{
                               color: #000000;
                               font-size: 30px; 
                            }
                        }                    
                    }
                    .carteDeux{
                        margin-top: 100px;
                        box-shadow: 0 0 25px 0 $ombre-color;
                        height: 700px;
                        width: 500px;
                        text-decoration: none;
                        box-sizing: border-box;
                        transform: scale(1);
                        transition-property: transform;
                        transition-duration: 500ms;
                        &:hover{
                            transform: scale(1.15);
                            opacity: 0.5;
                        }
                            .carteDeuxContenu{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                height: 700px;
                                width: 500px;
                                p{
                                    text-decoration: none;
                                    color: darkslategrey;
                                    font-size: 30px;
                                }
                            }      
                        }
                        .carteTrois{
                            box-shadow: 0 0 25px 0 $ombre-color;
                            height: 700px;
                            width: 500px;
                            margin-right: 50px;
                            box-sizing: border-box;
                            transform: scale(1);
                            transition-property: transform;
                            transition-duration: 500ms;
                            text-decoration: none;
                            &:hover{
                                transform: scale(1.15);
                                opacity: 0.5;
                            }
                            .carteTroisContenu{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                height: 700px;
                                width: 500px;
                                p{
                                    text-decoration: none;
                                    color: darkslategrey;
                                    font-size: 30px;
                                }
                            }    
                        }
                        .carteQuatre{
                            box-shadow: 0 0 25px 0 $ombre-color;
                            height: 700px;
                            width: 500px;
                            transform: scale(1);
                            box-sizing: border-box;
                            transition-property: transform;
                            transition-duration: 500ms;
                            text-decoration: none;
                            &:hover{
                                transform: scale(1.15);
                                opacity: 0.5;
                            }
                            .carteQuatreContenu{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                height: 700px;
                                width: 500px;
                                p{
                                    text-decoration: none;
                                    color: darkslategrey;
                                    font-size: 30px;
                                }
                            } 
                        }
                }
            }
    .btn{
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: $bd-color;
        box-sizing: border-box;
        border-radius: 20px;
        height: 100px;
        width: 340px;
        text-decoration: none;
        &:hover{
            transition: ease-out 1s;
        }
    p{
        display: flex;
        font-size: 2rem;
        text-decoration: none;
        color: $bg-color;
        }
    }
}


footer{
    .foot{
        height: 100px;
        display: flex;
        background-color: $bg-color;
        margin-top: 30px;
        border-top: solid 1px #fcca46;
        position:fixed;
        width: 100%;
        bottom: 0;
        justify-content: center;
        a{
            text-decoration: none;
            color: $bd-color;
            font-size: 2.3rem;
            margin-right: 350px;
            margin-left: 350px;
            margin-top: 30px;
        }
    }
}