.container {
  display: flex;
}

header .enteteSite {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-bottom: solid 1px #fcca46;
  background-color: #f7f7f7;
  opacity: 0.8;
}
header h1 {
  color: #fcca46;
  font-size: 4rem;
  font-family: "Vollkorn", serif;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
}
header h1:hover {
  transform: scale(1.15);
}

body {
  margin: 0;
}
body .recherche {
  display: flex;
  justify-content: center;
  height: 80px;
}
body .recherche .search-box {
  margin: auto;
  border: solid 1px;
  background-color: #f7f7f7;
  border-radius: 20px;
  max-height: 80px;
}
body .recherche .search-box .search-btn i {
  z-index: 1;
  background: #fcca46;
  font-size: 25px;
  color: #f7f7f7;
  padding: 15px;
  padding-right: 15px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #fcca46;
  position: absolute;
  left: 90px;
  top: 165px;
}
body .recherche button {
  height: 45px;
  width: 20px;
  border: none;
  outline: none;
  border-radius: 0px 20px 20px 0px;
  font-size: 1rem;
  background-color: #f7f7f7;
  cursor: pointer;
}
body .recherche input {
  height: 60px;
  border: none;
  outline: none;
  border-radius: 20px 0px 0px 20px;
  font-size: 1.5rem;
  background-color: #f7f7f7;
  font-family: "Vollkorn", serif;
  transition: all ease-in-out 0.4s;
  margin-left: 100px;
}
body .cartesContainer {
  border: 1px solid black;
  height: 1950px;
}
body .cartesContainer .cartes {
  display: flex;
  border: 1px solid red;
  height: 1700px;
  width: 1400px;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}
body .cartesContainer .cartes .carteUne {
  border: 1px solid green;
  margin-top: 100px;
  height: 700px;
  width: 500px;
  margin-right: 50px;
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
}
body .cartesContainer .cartes .carteUne:hover {
  transform: scale(1.15);
}
body .cartesContainer .cartes .carteUne .carteUneContenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 500px;
}
body .cartesContainer .cartes .carteUne .carteUneContenu p {
  text-decoration: none;
  color: darkslategrey;
  font-size: 30px;
}
body .cartesContainer .cartes .carteUne .carteUneContenu i {
  color: #000000;
  font-size: 30px;
}
body .cartesContainer .cartes .carteDeux {
  margin-top: 100px;
  border: 1px solid green;
  height: 700px;
  width: 500px;
  text-decoration: none;
  box-sizing: border-box;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
}
body .cartesContainer .cartes .carteDeux:hover {
  transform: scale(1.15);
}
body .cartesContainer .cartes .carteDeux .carteDeuxContenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 500px;
}
body .cartesContainer .cartes .carteDeux .carteDeuxContenu p {
  text-decoration: none;
  color: darkslategrey;
  font-size: 30px;
}
body .cartesContainer .cartes .carteTrois {
  border: 1px solid green;
  height: 700px;
  width: 500px;
  margin-right: 50px;
  box-sizing: border-box;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
  text-decoration: none;
}
body .cartesContainer .cartes .carteTrois:hover {
  transform: scale(1.15);
}
body .cartesContainer .cartes .carteTrois .carteTroisContenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 500px;
}
body .cartesContainer .cartes .carteTrois .carteTroisContenu p {
  text-decoration: none;
  color: darkslategrey;
  font-size: 30px;
}
body .cartesContainer .cartes .carteQuatre {
  border: 1px solid green;
  height: 700px;
  width: 500px;
  transform: scale(1);
  box-sizing: border-box;
  transition-property: transform;
  transition-duration: 500ms;
  text-decoration: none;
}
body .cartesContainer .cartes .carteQuatre:hover {
  transform: scale(1.15);
}
body .cartesContainer .cartes .carteQuatre .carteQuatreContenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 500px;
}
body .cartesContainer .cartes .carteQuatre .carteQuatreContenu p {
  text-decoration: none;
  color: darkslategrey;
  font-size: 30px;
}
body .btn {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #fcca46;
  box-sizing: border-box;
  border-radius: 20px;
  height: 100px;
  width: 340px;
  text-decoration: none;
}
body .btn:hover {
  transition: ease-out 1s;
}
body .btn p {
  display: flex;
  font-size: 2rem;
  text-decoration: none;
  color: #f7f7f7;
}

footer .foot {
  height: 100px;
  display: flex;
  background-color: #f7f7f7;
  margin-top: 30px;
  border-top: solid 1px #fcca46;
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: center;
}
footer .foot a {
  text-decoration: none;
  color: #fcca46;
  font-size: 2.3rem;
  margin-right: 350px;
  margin-left: 350px;
  margin-top: 30px;
}

/*# sourceMappingURL=style.css.map */
